body {
  padding: 0px !important;
  /* !important: 다른 css 적용을 무시하고 해당 css를 강제로 적용하겠다는 의미 */
  margin: 0px !important;
}

#navbar {
  height: 45px;
  width: 100%;
  background: #262626;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  display: flex;
  /* display: 가운데 정렬, 수직 정렬 */
  justify-content: center;
  align-items: center;
}

#infoBox {
  position: absolute;
  top: 100px;
  z-index: 10000;
  /* z-index: 컴포넌트의 순서를 정하는 요소 */
  background: white;
  left: 20px;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}

#infoTitle {
  font-size: 15px;
  font-weight: bolder;
}

.marker {
  border: 1px solid black;
  background: green;
  opacity: 0.8;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.infowindow_wrap {
  background: white;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.infowindow_title {
  font-size: 15px;
  font-weight: bolder;
}

.infowindow_content {
  font-size: 13px;
  font-weight: normal;
}

.infowindow_date {
  font-size: 13px;
  font-weight: normal;
}

#current {
  position: absolute;
  top: 180px;
  z-index: 10000;
  background: white;
  left: 20px;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}

.pulse {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgb(255, 0, 0);
  animation: pulse 1.7s infinite;
}

#search {
  position: absolute;
  top: 100px;
  left: 140px;
  padding: 15px;
  z-index: 10000;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}

#search_input {
  border: none;
}

#search_input:focus {
  outline: none;
}

@keyframes pulse {
  /* keyframes: 시간대별로 애니메이션이 어떻게 작용할지를 미리 명시 */
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    /* -moz: 파이어폭스에 적용 */
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
  }
}

@-webkit-keyframes pulse {
  /* -webkit: 크롬에 적용 */
  0% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0.4);
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
  }
}
